<body>
<div class="container">
    <header>
      <h1>Todo List</h1>

      <form class="new-task">
        <input type="text" name="text" placeholder="Nhập để thêm task mới">
      </form>
    </header>
    <ul>
        {{#each tasks}}
        {{> task}}
        {{/each}}
    </ul>
</div>
</body>
<!-- <template name="task">
    <li>{{text}}</li>
</template> -->
